.fadeInDown{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@keyframes fadeInDown{
    from{
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }
    to{
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
.slideLeft{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideLeft;
    animation-name: slideLeft;
}
@keyframes slideLeft{
    from{
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
    to{
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
.slideUp{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
}
@keyframes slideUp{
    from{
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }
    to{
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}