@media(min-width:1500px){
    /*Generales-------------------------------------------------------------------------------------------*/
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
html,body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color:rgb(59, 142, 209);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
ul{
    display: flex;
}
header li{
   padding-right: 20px;
}
section{
    padding: 10px;
    margin-top: 180px;
}
label{
    font-size: 35px;
}
li a{
    font-size: 40px;
}
h3{
    font-size: 50px;
}
/*Fin Generales-------------------------------------------------------------------------------------------*/

/*Clases--------------------------------------------------------------------------------------------------*/
.logo img{
    max-width: 300px;
}
.nav-options a{
text-decoration: none;
color: white;
}
.Modulept1{
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.Modulept1 p{
    font-size: 30px;
}

.Modulept2{
    border-radius: 5px;
    padding: 10px;
}

.Modulept2 input{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    border: 1px solid;
    border-radius: 5px;
}
.logimg1{
    max-width: 150px;
    margin: auto;
}
/*FinClases-------------------------------------------------------------------------------------------*/



/*Id's------------------------------------------------------------------------------------------------*/
#send{
    background-color:rgb(59, 142, 209);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 20px;
}
#logoImg2{
    max-width: 150px;
    transition: 0.5s ease-in-out 0.5s;
   

}

/*FinId's------------------------------------------------------------------------------------------------*/

/*HoverClass------------------------------------------------------------------------------------------------*/

/*FinHoverClass------------------------------------------------------------------------------------------------*/

/*HoverId's------------------------------------------------------------------------------------------------*/
#send:hover{
    background-color:rgb(2, 98, 177);
}
#logoImg2:hover{
  transform: scale(1.3);
}

/*FinHoverId's------------------------------------------------------------------------------------------------*/
}