/*Generales-------------------------------------------------------------------------------------------*/
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
html,body{
    margin: 0px;
    padding: 0px;
}
header{
    background-color:rgb(4, 117, 102);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
ul{
    display: flex;
}
header li{
   padding-right: 20px;
}
section{
    padding: 10px;
    margin-top: 100px;
}
label{
    font-size: 18px;
}
li a{
    font-size: 18px;
}
/*Fin Generales-------------------------------------------------------------------------------------------*/

/*Clases--------------------------------------------------------------------------------------------------*/
.logo img{
    max-width: 150px;
}
.nav-options a{
text-decoration: none;
color: white;
}
.Modulept1{
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}


.Modulept2{
    border-radius: 5px;
    padding: 10px;
}

.Modulept2 input{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    border: 1px solid;
    border-radius: 5px;
}
.logimg1{
    max-width: 150px;
    margin: auto;
}
/*FinClases-------------------------------------------------------------------------------------------*/



/*Id's------------------------------------------------------------------------------------------------*/
#send{
    background-color:rgb(4, 117, 102);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
#logoImg2{
    max-width: 150px;
    transition: 0.5s ease-in-out 0.5s;

}

/*Id's------------------------------------------------------------------------------------------------*/

/*HoverClass------------------------------------------------------------------------------------------------*/

/*HoverClass------------------------------------------------------------------------------------------------*/

/*HoverId's------------------------------------------------------------------------------------------------*/
#send:hover{
    background-color:rgb(0, 83, 72);
}
#logoImg2:hover{
  transform: scale(1.3);
}

/*HoverId's------------------------------------------------------------------------------------------------*/
